@smufl: 'Bravura';

@font-face {
  font-family: Bravura;
  src: url('../font/bravura.eot');
  src: url('../font/bravura.eot?#iefix') format('embedded-opentype'),
       url('../font/bravura.woff') format('woff'), 
       url('../font/bravura.ttf')  format('truetype'),
       url('../font/bravura.svg#svgFontName') format('svg');
}

.musicnotation() {
    font-family: @smufl;
}