@import "font.less";

body {
}

.parts {
    /* Flexbox container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-flow: row wrap;
    align-content: space-around;
}

    .parts > .system-measure {
    }

        .parts > .system-measure > .part-measure {
            .musicnotation();
        }
